<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<table style="border: 2px solid; width: 600px;  align: center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Mail</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mail : ${mails}">
    <td th:text="${mail.id}"align="center"></td>
    <td th:text="${mail.senderMail}" align="center"></td>
    <td th:text="${mail.messageText}"align="center" ></td>
    </tr>
    </tbody>
</table>
<ul>
    <li><a th:href="@{'/mails/'+${(page-1)}+'/5'}">«</a></li>
    <li th:text="${page}"></li>
    <li><a th:href="@{'/mails/'+${page+1}+'/5'}">»</a></li>
</ul>
<h1></h1>
</body>
</html>